/node_modules
/packages
/vendor
.env
composer.lock

# Ignore my FTP config for auto-syncing of files to my development environment
.ftpconfig

# Don't accidentally upload composer.phar
.composer.phar
